<a href="{{ post.url | relative_url }}" class="blog-card block animate-fade-in">
    {% if post.image %}
    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="w-full h-48 object-cover">
    {% endif %}

    <div class="p-6">

        <h3 class="text-xl md:text-2xl text-accent mb-2 font-bold">
            {% if post.pinned %}
            <span class="inline-block">📌</span>
            {% endif %}
            {{ post.title }}
        </h3>

        {% unless post.image %}
        <p class="text-text-muted mb-4 leading-relaxed">{{ post.excerpt | strip_html | truncate: 120 }}</p>
        {% endunless %}

        <div class="flex flex-wrap gap-2 text-sm text-text-muted">
            <span class="mr-2">{{ post.date | date: "%-d %b %Y" }}</span>
            {% for category in post.categories %}
            <span
                class="category-tag text-primary-text border border-primary-text px-2 py-1 rounded-3xl">{{
                category }}</span>
            {% endfor %}
        </div>
    </div>
</a>