<nav class="sticky top-0 w-full bg-primary-bg/95 backdrop-blur-md border-primary-text z-50 py-5">
    <div class="container mx-auto px-6 flex justify-between items-center max-w-7xl">
        <a href="{{ '/home.html' | relative_url }}"
            class="text-2xl font-bold text-accent hover:text-primary-text transition-colors">Portfolio</a>

        <ul class="flex gap-8 list-none">
            <li><a href="{{ '/home.html' | relative_url }}" class="nav-link">หน้าหลัก</a></li>
            <li><a href="{{ '/blogs.html' | relative_url }}" class="nav-link">บล็อก</a></li>
            <li><a href="{{ '/' | relative_url }}" class="nav-link">ติดต่อ</a></li>
        </ul>
    </div>
</nav>